html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 125%;
}

body {
  font-size: 0.9rem;
  color: #000;
  font-family: "adelle-sans", sans-serif;
}
@media (min-width: 37.5em) {
  body {
    font-size: 1rem;
    line-height: 1.5;
  }
}

h1 {
  font-size: 1.7rem;
  line-height: 1.5;
  color: #000;
  font-family: "adelle-sans", sans-serif;
  margin: 0 0 1em;
}
@media (min-width: 37.5em) {
  h1 {
    font-size: 2.7rem;
  }
}

h2 {
  color: #000;
  font-family: "adelle-sans", sans-serif;
  font-size: 1.5rem;
  line-height: 1.166666667;
  margin: 0 0 0.5em;
}
@media (min-width: 48em) {
  h2 {
    font-size: 1.9rem;
  }
}
@media (min-width: 62em) {
  h2 {
    font-size: 2.4rem;
  }
}

h3 {
  color: #000;
  font-family: "adelle-sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
  margin: 0 0 0.4em;
}
@media (min-width: 48em) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  color: #000;
  font-family: "adelle-sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.25;
  margin: 0 0 0.4em;
}
@media (min-width: 48em) {
  h4 {
    font-size: 1.2rem;
  }
}

h5 {
  color: #000;
  font-family: "adelle-sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.25;
  margin: 0 0 0.4em;
}
@media (min-width: 48em) {
  h5 {
    font-size: 1rem;
  }
}

h6 {
  color: #000;
  font-family: "adelle-sans", sans-serif;
  font-size: 0.8rem;
  margin: 0 0 0.4em;
}
@media (min-width: 48em) {
  h6 {
    font-size: 0.9rem;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid #000;
}

a {
  color: #9C5449;
}
a:hover {
  text-decoration: none;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  text-decoration: none;
}

p {
  margin: 0 0 1.5em;
}

blockquote {
  margin: 0 0 1em;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0 0 1em;
}
figure img {
  display: block;
}

figcaption {
  margin: 0;
}

ul,
ol,
dl {
  margin: 0 0 1em;
}
nav ul,
nav ol,
nav dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lp-builder ul,
.lp-builder ol,
.ck-content ul,
.ck-content ol {
  margin-left: 24px;
}

.field--type-text-long ul:not([class]) {
  list-style: none;
  margin: 0 0 1.5em;
  padding: 0;
  box-sizing: border-box;
}
.field--type-text-long ul:not([class]) li {
  position: relative;
  padding-left: 1.4rem;
  margin-bottom: 1.5em;
}
.field--type-text-long ul:not([class]) li:before {
  background-color: #000;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 0.8rem;
  left: 0;
  width: 1rem;
}
.field--type-text-long ul:not([class]) li > ul {
  margin-top: 1.5em;
}
.field--type-text-long ul:not([class]) li > ul li:before {
  width: 1rem;
}
@media (min-width: 48em) {
  .field--type-text-long ul:not([class]) li {
    padding-left: 2.8rem;
  }
  .field--type-text-long ul:not([class]) li:before {
    width: 2rem;
  }
}

/*------------------------------------*\
  Ordered Lists
\*------------------------------------*/
ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-latin;
}

ol ol ol {
  list-style-type: lower-roman;
}

.ck-content ol.list__style--lower-alpha,
ol.list__style--lower-alpha {
  list-style: lower-alpha;
}
.ck-content ol.list__style--lower-alpha ol:not([class]),
ol.list__style--lower-alpha ol:not([class]) {
  list-style: lower-alpha;
}

.ck-content ol.list__style--lower-greek,
ol.list__style--lower-greek {
  list-style: lower-greek;
}
.ck-content ol.list__style--lower-greek ol:not([class]),
ol.list__style--lower-greek ol:not([class]) {
  list-style: lower-greek;
}

.ck-content ol.list__style--lower-roman,
ol.list__style--lower-roman {
  list-style: lower-roman;
}
.ck-content ol.list__style--lower-roman ol:not([class]),
ol.list__style--lower-roman ol:not([class]) {
  list-style: lower-roman;
}

.ck-content ol.list__style--upper-alpha,
ol.list__style--upper-alpha {
  list-style: upper-alpha;
}
.ck-content ol.list__style--upper-alpha ol:not([class]),
ol.list__style--upper-alpha ol:not([class]) {
  list-style: lower-alpha;
}

.ck-content ol.list__style--upper-roman,
ol.list__style--upper-roman {
  list-style: upper-roman;
}
.ck-content ol.list__style--upper-roman ol:not([class]),
ol.list__style--upper-roman ol:not([class]) {
  list-style: lower-roman;
}

dt {
  font-weight: 700;
}

input,
textarea {
  border: 1px solid #c3c1c3;
  max-width: 100%;
  padding: 1rem;
}

input[type=text],
input[type=password],
input[type=date],
input[type=email],
input[type=number] {
  height: 1.25rem;
}

input[type=file] {
  height: inherit;
}

label,
legend {
  margin: 0 0 1em;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #f7f6f7;
  border-color: #c3c1c3;
  border-radius: 0;
  height: 1.75rem;
  padding: 0 10px;
  text-indent: 0.01px;
  text-overflow: "";
}

select::-ms-expand {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  caption-side: bottom;
  margin: 0;
  max-width: 100%;
  text-align: left;
  width: 100%;
}

thead th {
  color: #00659b;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 0.75rem 0.75rem;
  text-transform: uppercase;
  vertical-align: bottom;
  white-space: nowrap;
}
@media print {
  thead th {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 0.2rem 0.2rem;
  }
}
thead th,
thead td {
  border-bottom: 1px solid #000;
}

th,
td {
  padding: 0.75rem;
  vertical-align: top;
}
@media print {
  th,
  td {
    font-size: 12px;
    padding: 0.2rem;
  }
}

caption {
  font-size: 0.8rem;
  color: #000;
  font-weight: 700;
  margin-top: 24px;
}
@media (min-width: 37.5em) {
  caption {
    font-size: 0.8rem;
  }
}
table caption {
  margin: 0.75rem;
  text-align: left;
}

tbody + tbody {
  border-top: 2px solid #c3c1c3;
}

tbody tr:nth-of-type(odd) {
  background-color: #E2EDF2;
}
tbody tr:nth-of-type(even) {
  background-color: transparent;
}

.table-wrapper {
  margin: 0 0 5rem 0;
  scrollbar-color: #000 transparent;
  display: grid;
  overflow-x: auto;
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0)), linear-gradient(-90deg, white 0%, rgba(255, 255, 255, 0)) 100% 0, radial-gradient(farthest-side at 0% 50%, rgba(19, 49, 83, 0.2), rgba(19, 49, 83, 0)), radial-gradient(farthest-side at 100% 50%, rgba(19, 49, 83, 0.2), rgba(19, 49, 83, 0)) 100% 0%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 100px 100%, 100px 100%, 20px 100%, 20px 100%;
  background-attachment: local, local, scroll, scroll;
}
@media print {
  .table-wrapper {
    scrollbar-color: transparent transparent;
  }
}
.table-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 10px;
}
@media print {
  .table-wrapper::-webkit-scrollbar {
    display: none;
  }
}
.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 4px;
  outline: none;
}
@media print {
  .table-wrapper::-webkit-scrollbar-thumb {
    display: none;
  }
}
.table-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}
@media print {
  .table-wrapper::-webkit-scrollbar {
    display: none;
  }
}
.table-wrapper table {
  position: relative;
}
.table-wrapper thead th {
  position: sticky;
  top: -1px;
}

.node__type--facility.node__view-mode--full .table-wrapper {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

:active {
  outline: 0;
}

::-moz-selection {
  background-color: #F6EFD3;
}

::selection {
  background-color: #F6EFD3;
}

.large-heading {
  font-size: 1.7rem;
  margin-bottom: 0.8em;
}
@media (min-width: 37.5em) {
  .large-heading {
    font-size: 2.7rem;
  }
}

.accept-terms {
  font-size: 0.8rem;
  border: none;
  background-color: #9C5449;
  color: #fff;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin-top: 1rem;
}
@media (min-width: 37.5em) {
  .accept-terms {
    font-size: 0.8rem;
  }
}
.accept-terms:hover, .accept-terms:focus {
  background-color: #772618;
  color: #fff;
}

.do-not-accept-terms {
  font-size: 0.8rem;
  border: none;
  background-color: #9C5449;
  color: #fff;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #9C5449;
  color: #9C5449;
  display: block;
  margin-top: 1rem;
}
@media (min-width: 37.5em) {
  .do-not-accept-terms {
    font-size: 0.8rem;
  }
}
.do-not-accept-terms:hover, .do-not-accept-terms:focus {
  background-color: #772618;
  color: #fff;
}
.do-not-accept-terms path {
  fill: #9C5449;
}
.do-not-accept-terms:hover, .do-not-accept-terms:focus {
  color: #fff;
  background-color: #772618;
}
.do-not-accept-terms:hover path, .do-not-accept-terms:focus path {
  fill: #fff;
}

.popular-services {
  margin: 1rem 0 3rem;
}

.node__unpublished {
  background-color: #fff4f4;
}

.fab.fa-twitter:before {
  content: "";
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20431.20337%20389.76843%22%3E%20%20%20%3Cg%20transform%3D%22translate%28227.98816%2C51.751688%29%22%3E%20%20%20%20%20%3Cpath%20d%3D%22m%20111.60976%2C-51.751688%20h%2066.12063%20L%2033.276384%2C113.35018%20203.21522%2C338.01675%20H%2070.154418%20L%20-34.0636%2C201.75742%20-153.31262%2C338.01675%20h%20-66.16064%20L%20-64.965148%2C161.42136%20-227.98816%2C-51.751688%20H%20-91.549341%20L%202.6545805%2C72.7943%20Z%20M%2088.403591%2C298.43991%20H%20125.04177%20L%20-111.45749%2C-14.253875%20h%20-39.31665%20z%22%20style%3D%22fill%3A%23000000%3Bstroke-width%3A19.988%22%2F%3E%20%20%20%3C%2Fg%3E%20%3C%2Fsvg%3E%20") no-repeat center;
  display: block;
  height: 20px;
  position: relative;
  top: 2px;
  width: 20px;
}

.button,
a.button {
  transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #9C5449;
  background-color: #9C5449;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 1.875em 1.875em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover, .button:focus,
a.button:hover,
a.button:focus {
  background-color: #772618;
  color: #fff;
  text-decoration: none;
}
.l-banded-section--dark-red .button,
.l-banded-section--dark-red a.button {
  background-color: #fff;
  color: #772618;
}
.l-banded-section--dark-red .button:hover,
.l-banded-section--dark-red a.button:hover {
  background-color: #772618;
  color: #fff;
}

.button--mini,
a.button--mini {
  font-size: 0.6rem;
  padding: 0.5em;
}
@media (min-width: 37.5em) {
  .button--mini,
  a.button--mini {
    font-size: 0.6rem;
  }
}

.button--reversed,
a.button--reversed {
  background-color: #fff;
  border: 0;
  color: #9C5449;
}
.button--reversed:hover,
a.button--reversed:hover {
  background-color: #9C5449;
  color: #fff;
}

.button--block {
  display: block;
  width: 100%;
}

input.button {
  padding-bottom: 0;
  padding-top: 0;
  min-height: 2rem;
}

.button--ghost,
a.button--ghost {
  background-color: #fff;
  color: #9C5449;
}

.arrow {
  display: inline-block;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding-left: 1.5rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.arrow:before, .arrow:after {
  content: "";
  display: block;
  position: absolute;
}
.arrow:before {
  height: 0.9rem;
  width: 0.9rem;
  background-color: #E89B8E;
  border-radius: 50%;
  left: 0;
  top: 0.1875em;
  z-index: 0;
}
.arrow:after {
  height: 0.3rem;
  width: 0.3rem;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  left: 0.2rem;
  top: 0.4rem;
  z-index: 1;
}
.arrow:hover {
  text-decoration: none;
}
.arrow:hover:before {
  background-color: #9C5449;
}
.arrow:focus:before {
  background-color: #772618;
}
.l-banded-section--dark-red .arrow {
  color: #fff;
}
.l-banded-section--dark-red .arrow:hover {
  text-decoration: none;
}
.l-banded-section--dark-red .arrow:hover:before {
  background-color: #fff;
}
.l-banded-section--dark-red .arrow:hover:after {
  border-color: #9C5449;
}
.l-banded-section--dark-red .arrow:focus:before {
  background-color: #fff;
}
.l-banded-section--dark-red .arrow:focus:after {
  border-color: #772618;
}

.block-heading {
  font-size: 0.9rem;
  margin: 0;
  letter-spacing: 2px;
  padding: 0.5555555556em 0;
  text-transform: uppercase;
}

.field--simple > .field__label {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
@media (min-width: 37.5em) {
  .field--simple > .field__label {
    font-size: 0.7rem;
  }
}
.field--simple > .field__item {
  font-size: 0.8rem;
  font-weight: 700;
}
@media (min-width: 37.5em) {
  .field--simple > .field__item {
    font-size: 0.8rem;
  }
}
.field--simple > .address {
  font-size: 0.8rem;
  font-weight: 700;
}
@media (min-width: 37.5em) {
  .field--simple > .address {
    font-size: 0.8rem;
  }
}
.field--simple > .field__items {
  font-size: 0.8rem;
  font-weight: 700;
}
@media (min-width: 37.5em) {
  .field--simple > .field__items {
    font-size: 0.8rem;
  }
}

.office-hours__item {
  margin-bottom: 0.5rem;
}
.office-hours__item:last-of-type {
  margin-bottom: 0;
}

span.office-hours__item-label {
  display: block;
}

.field--type-address .country {
  display: none;
}

.field--name-field-email .field__item {
  word-wrap: break-word;
}

.layout-container {
  overflow: hidden;
  position: relative;
}

.l-main {
  padding-top: 2.5rem;
}
@media (min-width: 48em) {
  .l-main {
    padding-top: 3.75rem;
  }
}
@media (min-width: 62em) {
  .l-main {
    padding-top: 5rem;
  }
}

.l-page-section--framed {
  border-top: 1px solid #000;
  padding-top: 2.5rem;
}
@media (min-width: 48em) {
  .l-page-section--framed {
    padding-top: 3.75rem;
  }
}
@media (min-width: 62em) {
  .l-page-section--framed {
    padding-top: 5rem;
  }
}

.l-list-links {
  margin-top: 2.5rem;
}

.l-page-section {
  margin-bottom: 2.5rem;
}
@media (min-width: 48em) {
  .l-page-section {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 62em) {
  .l-page-section {
    margin-bottom: 5rem;
  }
}

.l-page-section__title {
  font-size: 1.8rem;
  margin-bottom: 1.1111111111em;
}

.l-constrained-full {
  margin-left: auto;
  margin-right: auto;
  max-width: 81rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 48em) {
  .l-constrained-full {
    padding-left: 3.9rem;
    padding-right: 2.5rem;
  }
}
@media (min-width: 62em) {
  .l-constrained-full {
    padding-left: 5rem;
  }
}
@media (min-width: 75em) {
  .l-constrained-full {
    padding-right: 5rem;
  }
}

.l-constrained {
  margin-left: auto;
  margin-right: auto;
  max-width: 81rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 48em) {
  .l-constrained {
    padding-left: 7.8rem;
    padding-right: 2.5rem;
  }
}
@media (min-width: 62em) {
  .l-constrained {
    padding-left: 10rem;
  }
}
@media (min-width: 75em) {
  .l-constrained {
    padding-right: 5rem;
  }
}

.l-constrained--border {
  position: relative;
}
@media (min-width: 48em) {
  .l-constrained--border:before {
    background-color: #000;
    content: "";
    display: block;
    height: 100%;
    left: 3.9rem;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 10;
  }
}
@media (min-width: 62em) {
  .l-constrained--border:before {
    left: 5rem;
  }
}

.l-constrained--cap {
  display: flex;
  flex-direction: column;
  position: relative;
}
.l-constrained--cap:after {
  background-color: #000;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
@media (min-width: 48em) {
  .l-constrained--cap:after {
    left: 3.9rem;
    width: calc(100% - 3.9rem);
  }
}
@media (min-width: 62em) {
  .l-constrained--cap:after {
    left: 5rem;
    width: calc(100% - 5rem);
  }
}
@media (min-width: 101.25em) {
  .l-constrained--cap:after {
    width: calc((100vw - 81rem) / 2 + (81rem - 5rem));
  }
}

.l-spacing--collapsed {
  padding: 0 !important;
}
@media (min-width: 48em) {
  .l-spacing--collapsed {
    height: 0;
    margin-top: -5rem;
  }
  .l-spacing--collapsed .l-one-col__main {
    position: relative;
    transform: translateY(-50%);
    z-index: 2 !important;
  }
  .l-spacing--collapsed + .l-page-section {
    padding-top: 7.5rem;
  }
}
@media (min-width: 62em) {
  .l-spacing--collapsed + .l-page-section {
    padding-top: 10rem;
  }
}

.l-spacing--extra-margin-bottom {
  margin-bottom: 3.75rem;
}
@media (min-width: 48em) {
  .l-spacing--extra-margin-bottom {
    margin-bottom: 5rem;
  }
}
@media (min-width: 62em) {
  .l-spacing--extra-margin-bottom {
    margin-bottom: 7.5rem;
  }
}

.l-banded-section {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  position: relative;
}
.l-banded-section .l-page-section__region,
.l-banded-section .l-banded-section__content {
  position: relative;
  z-index: 2;
}
.l-banded-section:after {
  content: "";
  display: block;
  height: 100%;
  left: -1.5rem;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 0;
}
@media (min-width: 48em) {
  .l-banded-section:after {
    left: -7.8rem;
  }
}
@media (min-width: 62em) {
  .l-banded-section:after {
    left: -10rem;
  }
}
@media (min-width: 101.25em) {
  .l-banded-section:after {
    left: calc((10rem + ((100vw - 81rem) / 2)) * -1);
  }
}
.path-frontpage .l-page-section + .l-banded-section {
  margin-top: -2.5rem;
}
@media (min-width: 48em) {
  .l-banded-section {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
  .path-frontpage .l-page-section + .l-banded-section {
    margin-top: -3rem;
  }
}
@media (min-width: 62em) {
  .path-frontpage .l-page-section + .l-banded-section {
    margin-top: -5rem;
  }
}
@media (min-width: 75em) {
  .l-banded-section {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}

.l-banded-section--no-margin {
  margin-bottom: 0;
}

.l-banded-section--mountains:after {
  background-color: #F5F4F4;
  background-image: url("../../../images/mountain--big--white.svg");
  background-position: left bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.l-banded-section--lt-blue,
.l-banded-section--lt-blue:after {
  background-color: #E2EDF2;
}

.l-banded-section--blue,
.l-banded-section--blue:after {
  background-color: #8CB8CA;
}

.l-banded-section--red,
.l-banded-section--red:after {
  background-color: #F9E6E3;
}

.l-banded-section--dark-red,
.l-banded-section--dark-red:after {
  background-color: #9C5449;
}

.l-banded-section--lt-green,
.l-banded-section--lt-green:after {
  background-color: #DFEDE5;
}

.l-banded-section--green,
.l-banded-section--green:after {
  background-color: #DFEDE5;
}

.l-banded-section--tan:after {
  background-color: #F5F4F4;
}

@media (min-width: 48em) {
  .l-banded-section--with-mountains:before {
    background-image: url("../../../images/mountain-slim.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    display: block;
    content: "";
    height: 100%;
    mix-blend-mode: overlay;
    position: absolute;
    right: -2.5rem;
    width: calc(100% + 2.5rem);
    z-index: 1;
  }
}
@media (min-width: 75em) {
  .l-banded-section--with-mountains:before {
    right: -5rem;
    width: calc(100% + 5rem);
  }
}

.l-pinline-top {
  border-top: 1px solid #000;
  padding-top: 1.5rem;
}

.l-v-spacing {
  margin-bottom: 48px;
}

.l-v-spacing--top {
  margin-top: 48px;
}

.l-content-item {
  margin: 24px 0;
}

.l-padded {
  padding-top: 48px;
  padding-bottom: 48px;
}

.l-padded-bottom {
  padding-bottom: 48px;
}

.l-padded-top {
  padding-top: 48px;
}

.layout--onecol .l-page-section__region-item {
  margin-bottom: 2rem;
  width: 100%;
}

.l-three-col {
  grid-column-gap: 0;
  -moz-column-gap: 0;
       column-gap: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 1.5rem;
  row-gap: 1.5rem;
}
@media (min-width: 75em) {
  .l-three-col {
    grid-template-columns: repeat(23, 1fr);
  }
}

.l-three-col__side-primary {
  grid-column: 1/span 1;
  width: 100%;
}
.l-three-col__side-primary .l-page-section__region-item {
  margin-bottom: 2rem;
}
@media (min-width: 75em) {
  .l-three-col__side-primary {
    grid-column: 1/span 5;
  }
}

.l-three-col__main {
  grid-column: 1/span 1;
  width: 100%;
}
@media (min-width: 75em) {
  .l-three-col__main {
    grid-column: 7/span 11;
  }
}

.l-three-col__side-secondary {
  grid-column: 1/span 1;
  width: 100%;
}
.l-three-col__side-secondary .l-page-section__region-item {
  margin-bottom: 4.5rem;
}
@media (min-width: 75em) {
  .l-three-col__side-secondary {
    grid-column: 19/span 5;
  }
}

.l-two-col-5-17 {
  display: grid;
  grid-column-gap: 0;
  -moz-column-gap: 0;
       column-gap: 0;
  grid-row-gap: 3rem;
  row-gap: 3rem;
  grid-template-columns: 100%;
}
@media (min-width: 75em) {
  .l-two-col-5-17 {
    grid-template-columns: repeat(23, 1fr);
  }
}

@media (min-width: 75em) {
  .l-two-col-5-17--before > .l-two-col-5-17__main {
    grid-column: 7/span 17;
  }
  .l-two-col-5-17--after > .l-two-col-5-17__main {
    grid-column: 1/span 17;
  }
}

.page-node-type-department .l-two-col-5-17__side-primary, .page-node-type-guide .l-two-col-5-17__side-primary, .page-node-type-page .l-two-col-5-17__side-primary {
  border-top: 1px solid #000;
  padding-top: 1.5rem;
}
.l-two-col-5-17__side-primary .l-page-section__region-item {
  margin-bottom: 2rem;
}
@media (min-width: 75em) {
  .l-two-col-5-17--before > .l-two-col-5-17__side-primary {
    grid-column: 1/span 5;
  }
  .l-two-col-5-17--after > .l-two-col-5-17__side-primary {
    grid-column: 19/span 5;
  }
}

.l-two-col-17-5__main {
  grid-column: 1/span 17;
  width: 100%;
}

.l-two-col-17-5 {
  display: block;
}
@media (min-width: 75em) {
  .l-two-col-17-5 {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
  }
}

.l-two-col-17-5__side-primary {
  grid-column: 19/span 5;
  width: 100%;
}
.l-two-col-17-5__side-primary .l-page-section__region-item {
  margin-bottom: 2rem;
}

.l-two-col-11-11 {
  display: grid;
  list-style: none;
  grid-template-columns: 100%;
  grid-row-gap: 1.5rem;
  row-gap: 1.5rem;
  padding: 0;
}
@media (min-width: 48em) {
  .l-two-col-11-11 {
    grid-template-columns: repeat(23, 1fr);
  }
}
@media (min-width: 62em) {
  .l-two-col-11-11 {
    row-gap: 2.5rem;
  }
}

@media (max-width: 101.1875em) {
  .l-two-col-11-11--w-max {
    display: block;
  }
}

.l-two-col-11-11__col {
  display: flex;
}
@media (min-width: 48em) {
  .l-two-col-11-11__col:nth-child(odd) {
    grid-column: 1/span 11;
  }
  .l-two-col-11-11__col:nth-child(even) {
    grid-column: 13/span 11;
  }
}

.l-three-col-7-7-7 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 4.347826087%;
  -moz-column-gap: 4.347826087%;
       column-gap: 4.347826087%;
  grid-row-gap: 1rem;
  row-gap: 1rem;
  list-style: none;
}
@media (min-width: 48em) {
  .l-three-col-7-7-7 {
    row-gap: 2rem;
  }
}
@media (min-width: 62em) {
  .l-three-col-7-7-7 {
    row-gap: 3rem;
  }
}

.l-three-col-7-7-7__col {
  grid-column: 1/span 12;
}
@media (min-width: 75em) and (max-width: 101.1875em) {
  .l-three-col-7-7-7__col {
    grid-column: 1/span 6;
  }
  .l-three-col-7-7-7__col:nth-of-type(2n + 0) {
    grid-column: 7/span 6;
  }
}
@media (min-width: 101.25em) {
  .l-three-col-7-7-7__col {
    grid-column: 1/span 4;
  }
  .l-three-col-7-7-7__col:nth-of-type(3n + 2) {
    grid-column: 5/span 4;
  }
  .l-three-col-7-7-7__col:nth-of-type(3n + 3) {
    grid-column: 9/span 4;
  }
}

.l-list-grid {
  display: grid;
  grid-gap: 2.85rem;
  gap: 2.85rem;
  grid-template-columns: 100%;
  list-style: none;
  margin: 0;
  max-width: 48.8rem;
  padding: 0;
}
@media (min-width: 37.5em) {
  .l-list-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 62em) {
  .l-list-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.l-list-grid--collapsed {
  gap: 0;
}

.l-rule--after {
  border-bottom: 1px solid #000;
  padding-bottom: 1.5rem;
}
@media (min-width: 48em) {
  .l-rule--after {
    padding-bottom: 3rem;
  }
}
@media (min-width: 62em) {
  .l-rule--after {
    padding-bottom: 5rem;
  }
}

.l-rule--before {
  border-top: 1px solid #000;
  padding-top: 1.5rem;
}
@media (min-width: 48em) {
  .l-rule--before {
    padding-top: 3rem;
  }
}
@media (min-width: 62em) {
  .l-rule--before {
    padding-top: 5rem;
  }
}

.view-list-simple h2 {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.25rem;
}
@media (min-width: 37.5em) {
  .view-list-simple h2 {
    font-size: 0.9rem;
  }
}

.view-list-simple__list {
  list-style: none;
  padding: 0;
}

.view-list-simple__item {
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
  padding: 0;
}
@media (min-width: 37.5em) {
  .view-list-simple__item {
    font-size: 0.9rem;
  }
}
.view-list-simple__item a {
  text-decoration: none;
  color: #000;
}
.view-list-simple__item a:hover {
  color: #772618;
}

.view-list-fields__list {
  list-style: none;
  padding: 0;
}

.view-list-fields__item {
  font-size: 0.9rem;
  border-bottom: 1px solid #000;
  padding: 1rem 0.5rem;
}
@media (min-width: 37.5em) {
  .view-list-fields__item {
    font-size: 0.9rem;
  }
}
.view-list-fields__item:last-of-type {
  border-bottom: 0;
}
.view-list-fields__item a {
  text-decoration: none;
}
.view-list-fields__item:hover {
  background-color: #F9E6E3;
}

.o-term-icon {
  height: 1.8rem;
  position: relative;
  width: 1.8rem;
}
.o-term-icon img, .o-term-icon svg {
  height: 100%;
  width: 100%;
}

.search-results {
  margin-bottom: 24px;
}
.search-results .views-row {
  margin: 0 0 48px;
}
.search-results .views-row h2 {
  font-size: 1.2rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
@media (min-width: 37.5em) {
  .search-results .views-row h2 {
    font-size: 1.8rem;
  }
}
.search-results .views-row h2 a:hover {
  text-decoration: underline;
}

.node__type--facility.node__view-mode--full .field--name-field-primary-content {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 40px;
  gap: 40px;
}
@media (min-width: 62em) {
  .node__type--facility.node__view-mode--full .field--name-field-primary-content {
    gap: 64px;
  }
}

.l-main > div:first-child > div:first-child > article:first-child > div:first-child > div:first-child > .l-banded-section:first-child {
  margin-top: -100px;
}

.o-link--arrow--right {
  display: inline-block;
  min-height: 0.9rem;
  padding-left: 1.5rem;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.o-link--arrow--right:before, .o-link--arrow--right:after {
  content: "";
  display: block;
  position: absolute;
}
.o-link--arrow--right:before {
  height: 0.9rem;
  width: 0.9rem;
  transition: background-color 0.2s ease-in-out 0s;
  border-radius: 50%;
  left: 0;
  top: 0.2rem;
}
.o-link--arrow--right:after {
  height: 7px;
  width: 7px;
  transition: border-right 0.2s ease-in-out 0s, border-bottom 0.2s ease-in-out 0s;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  left: 4px;
  top: 0.45rem;
  transform: rotate(-45deg);
}
.o-link--arrow--right:hover {
  text-decoration: none !important;
}
.o-link--arrow--right:before {
  background-color: #E89B8E;
}
.o-link--arrow--right:after {
  border-right-color: #fff;
  border-bottom-color: #fff;
}
.o-link--arrow--right:hover:before {
  background-color: #9C5449;
}

.o-link--arrow--right--reversed {
  display: inline-block;
  min-height: 0.9rem;
  padding-left: 1.5rem;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.o-link--arrow--right--reversed:before, .o-link--arrow--right--reversed:after {
  content: "";
  display: block;
  position: absolute;
}
.o-link--arrow--right--reversed:before {
  height: 0.9rem;
  width: 0.9rem;
  transition: background-color 0.2s ease-in-out 0s;
  border-radius: 50%;
  left: 0;
  top: 0.2rem;
}
.o-link--arrow--right--reversed:after {
  height: 7px;
  width: 7px;
  transition: border-right 0.2s ease-in-out 0s, border-bottom 0.2s ease-in-out 0s;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  left: 4px;
  top: 0.45rem;
  transform: rotate(-45deg);
}
.o-link--arrow--right--reversed:hover {
  text-decoration: none !important;
}
.o-link--arrow--right--reversed:before {
  background-color: #fff;
}
.o-link--arrow--right--reversed:after {
  border-right-color: #9C5449;
  border-bottom-color: #9C5449;
}
.o-link--arrow--right--reversed:hover:before {
  background-color: #9C5449;
}
.o-link--arrow--right--reversed:hover:after {
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.o-link--arrow--right--big {
  display: inline-block;
  min-height: 0.9rem;
  padding-left: 1.5rem;
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  padding-left: 2.5rem;
}
.o-link--arrow--right--big:before, .o-link--arrow--right--big:after {
  content: "";
  display: block;
  position: absolute;
}
.o-link--arrow--right--big:before {
  height: 0.9rem;
  width: 0.9rem;
  transition: background-color 0.2s ease-in-out 0s;
  border-radius: 50%;
  left: 0;
  top: 0.2rem;
}
.o-link--arrow--right--big:after {
  height: 7px;
  width: 7px;
  transition: border-right 0.2s ease-in-out 0s, border-bottom 0.2s ease-in-out 0s;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  left: 4px;
  top: 0.45rem;
  transform: rotate(-45deg);
}
.o-link--arrow--right--big:hover {
  text-decoration: none !important;
}
.o-link--arrow--right--big:before {
  height: 1.5em;
  width: 1.5em;
  background-color: #E89B8E;
  top: 0;
}
.o-link--arrow--right--big:after {
  height: 0.5em;
  width: 0.5em;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  left: 0.3333333333em;
  top: 0.4166666667em;
}
.o-link--arrow--right--big:hover:before {
  background-color: #9C5449;
}
@media (min-width: 48em) {
  .o-link--arrow--right--big {
    font-size: 1.2rem;
  }
}

.o-link--arrow--right--big--wrapper a {
  display: inline-block;
  min-height: 0.9rem;
  padding-left: 1.5rem;
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  padding-left: 2.5rem;
}
.o-link--arrow--right--big--wrapper a:before, .o-link--arrow--right--big--wrapper a:after {
  content: "";
  display: block;
  position: absolute;
}
.o-link--arrow--right--big--wrapper a:before {
  height: 0.9rem;
  width: 0.9rem;
  transition: background-color 0.2s ease-in-out 0s;
  border-radius: 50%;
  left: 0;
  top: 0.2rem;
}
.o-link--arrow--right--big--wrapper a:after {
  height: 7px;
  width: 7px;
  transition: border-right 0.2s ease-in-out 0s, border-bottom 0.2s ease-in-out 0s;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  left: 4px;
  top: 0.45rem;
  transform: rotate(-45deg);
}
.o-link--arrow--right--big--wrapper a:hover {
  text-decoration: none !important;
}
.o-link--arrow--right--big--wrapper a:before {
  height: 1.5em;
  width: 1.5em;
  background-color: #E89B8E;
  top: 0;
}
.o-link--arrow--right--big--wrapper a:after {
  height: 0.5em;
  width: 0.5em;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  left: 0.3333333333em;
  top: 0.4166666667em;
}
.o-link--arrow--right--big--wrapper a:hover:before {
  background-color: #9C5449;
}
@media (min-width: 48em) {
  .o-link--arrow--right--big--wrapper a {
    font-size: 1.2rem;
  }
}

.o-link--arrow--right--big--reversed {
  display: inline-block;
  min-height: 0.9rem;
  padding-left: 1.5rem;
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  padding-left: 2.5rem;
}
.o-link--arrow--right--big--reversed:before, .o-link--arrow--right--big--reversed:after {
  content: "";
  display: block;
  position: absolute;
}
.o-link--arrow--right--big--reversed:before {
  height: 0.9rem;
  width: 0.9rem;
  transition: background-color 0.2s ease-in-out 0s;
  border-radius: 50%;
  left: 0;
  top: 0.2rem;
}
.o-link--arrow--right--big--reversed:after {
  height: 7px;
  width: 7px;
  transition: border-right 0.2s ease-in-out 0s, border-bottom 0.2s ease-in-out 0s;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  left: 4px;
  top: 0.45rem;
  transform: rotate(-45deg);
}
.o-link--arrow--right--big--reversed:hover {
  text-decoration: none !important;
}
.o-link--arrow--right--big--reversed:before {
  height: 1.5em;
  width: 1.5em;
  background-color: #E89B8E;
  top: 0;
}
.o-link--arrow--right--big--reversed:after {
  height: 0.5em;
  width: 0.5em;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  left: 0.3333333333em;
  top: 0.4166666667em;
}
.o-link--arrow--right--big--reversed:hover:before {
  background-color: #9C5449;
}
@media (min-width: 48em) {
  .o-link--arrow--right--big--reversed {
    font-size: 1.2rem;
  }
}
.o-link--arrow--right--big--reversed:before {
  background-color: #fff;
}
.o-link--arrow--right--big--reversed:after {
  border-right-color: #E89B8E;
  border-bottom-color: #E89B8E;
}
.o-link--arrow--right--big--reversed:hover:before {
  background-color: #fff;
}
.o-link--arrow--right--big--reversed:hover:after {
  border-right-color: #9C5449;
  border-bottom-color: #9C5449;
}

.o-rss-feed-link {
  color: #504b50;
  text-decoration: none;
}
.o-rss-feed-link:hover {
  text-decoration: underline;
}
.o-rss-feed-link:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #E89B8E;
  background-image: url("../../../../images/icons/rss-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 11px -4px 0;
}

.skip-link {
  background-color: #000;
  color: #fff !important;
  padding: 16px 32px 20px;
  text-decoration: none;
  z-index: 999;
}

.visually-hidden.focusable:focus {
  position: absolute !important;
}

.align-center:first-child,
.align-left:first-child,
.align-right:first-child {
  margin-top: 0;
}

.align-left {
  margin: 0 1rem 1rem 0;
}

.align-right {
  margin: 0 0 1rem 1rem;
}

.align-center {
  display: table;
}

.form-item {
  margin: 1em 0;
}
.form-item label {
  font-size: 0.7rem;
  display: block;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  padding: 0 0.8rem;
}
@media (min-width: 37.5em) {
  .form-item label {
    font-size: 0.7rem;
  }
}
.form-item input, .form-item select {
  font-size: 0.9rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 2rem;
  background-color: #fff;
  border: 1px solid #000;
  width: 100%;
  font-weight: 700;
  padding: 0 0.8rem;
}
@media (min-width: 37.5em) {
  .form-item input, .form-item select {
    font-size: 0.9rem;
  }
}

div.form-item:hover input, div.form-item:hover select, div.form-item:focus-within input, div.form-item:focus-within select {
  border-color: #406F8C;
}
div.form-item:hover label, div.form-item:focus-within label {
  color: #406F8C;
}

fieldset.form-item {
  margin: 2em 0 1em;
}

legend {
  margin: 0;
}
legend .fieldset-legend {
  font-size: 0.7rem;
  display: block;
  letter-spacing: 2px;
  margin-bottom: 0;
  text-transform: uppercase;
  padding: 0 0.8rem;
}
@media (min-width: 37.5em) {
  legend .fieldset-legend {
    font-size: 0.7rem;
  }
}

details {
  padding: 0.5rem 0;
}
details summary {
  font-size: 0.7rem;
  cursor: pointer;
  display: block;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
@media (min-width: 37.5em) {
  details summary {
    font-size: 0.7rem;
  }
}

.form-actions {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0 -0.5rem;
}
.form-actions .button {
  margin: 0 0.5rem 0.5rem 0;
}

.exposed-form__title {
  border-bottom: 1px solid #000;
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 0.6rem;
}

.o-select {
  position: relative;
  overflow: hidden;
}
.o-select:after {
  pointer-events: none;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgb(255, 255, 255));
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  box-sizing: border-box;
  content: "";
  display: block;
  width: 45px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.o-select__icon {
  pointer-events: none;
  position: absolute;
  right: 0.65rem;
  top: 0.9rem;
  z-index: 1;
}

.js input.form-autocomplete {
  background-position: right 0.5rem center;
}

div.js-form-type-checkbox {
  display: flex;
  position: relative;
}
div.js-form-type-checkbox input {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1px;
  height: 1px;
}
div.js-form-type-checkbox label {
  font-size: 0.9rem;
  cursor: pointer;
  letter-spacing: inherit;
  padding: 0 0 0 32px;
  text-transform: none;
  font-weight: 700;
}
@media (min-width: 37.5em) {
  div.js-form-type-checkbox label {
    font-size: 0.9rem;
  }
}
div.js-form-type-checkbox label:before {
  border: 1px solid #000;
  box-sizing: border-box;
  color: #fff;
  content: "";
  display: inline-block;
  font-size: 12px;
  height: 24px;
  left: 0;
  padding: 5px 3px;
  position: absolute;
  top: 3px;
  width: 24px;
}
div.js-form-type-checkbox label:after {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  content: "";
  width: 11px;
  height: 6px;
  position: absolute;
  top: 9px;
  left: 6px;
  transform: rotate(-45deg);
}
div.js-form-type-checkbox input:checked + label:before {
  background-color: #000;
}
div.js-form-type-checkbox:hover label, div.js-form-type-checkbox:focus-within label {
  color: #406F8C;
}
div.js-form-type-checkbox:hover label:before, div.js-form-type-checkbox:focus-within label:before {
  border-color: #406F8C;
}
div.js-form-type-checkbox:hover input:checked + label, div.js-form-type-checkbox:focus-within input:checked + label {
  color: #406F8C;
}
div.js-form-type-checkbox:hover input:checked + label:before, div.js-form-type-checkbox:focus-within input:checked + label:before {
  background-color: #406F8C;
}
div.js-form-type-checkbox:focus-within {
  box-shadow: 0 0 0 2px blue;
}

.ui-slider.ui-widget-content.ui-slider-horizontal {
  margin: 1rem;
  border-color: #000;
  height: 0.7em;
}
.ui-slider.ui-widget-content.ui-slider-horizontal .ui-slider-handle {
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
}
.ui-slider.ui-widget-content.ui-slider-horizontal .ui-state-active {
  background-color: #9C5449;
  border-color: #9C5449;
}
.ui-slider.ui-widget-content.ui-slider-horizontal .ui-slider-range {
  background-color: #9C5449;
}

fieldset {
  border: 0;
  padding: 0;
}

.ajax-throbber.sk-wave .sk-rect {
  background-color: #9C5449;
}

summary {
  list-style: none;
  position: relative;
}

summary::-webkit-details-marker {
  display: none;
}

details summary:before {
  display: inline-block;
  border-radius: 50%;
  background-color: #E89B8E;
  content: "";
  height: 0.9rem;
  width: 0.9rem;
  margin: 0 10px -3px 0;
}

details summary:after {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 4px;
  left: 5px;
  content: "";
  height: 0.35rem;
  width: 0.35rem;
  transform: rotate(45deg);
}

details[open] summary:after {
  transform: rotate(-135deg);
  top: 7px;
}

details summary:hover:before {
  background-color: #9C5449;
}

.iframe_title {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.fsForm {
  float: none !important;
}
.fsForm .fsFieldCell {
  margin-bottom: 2rem;
  width: 100%;
}
.fsForm .fsFieldCell input + label,
.fsForm .fsFieldCell select + label {
  margin-top: 8px;
}
.fsForm .fsSubFieldGroup > .fsSubField {
  margin-bottom: 1rem;
}

.captcha.captcha-type-challenge--turnstile {
  block-size: 0;
  inline-size: 0;
  opacity: 0;
  visibility: hidden;
}

.click-region {
  position: relative;
}

.click-region__target {
  color: currentColor;
}
.click-region__target:after {
  height: 100%;
  width: 100%;
  content: "";
  left: 0;
  display: block;
  top: 0;
  position: absolute;
  z-index: 1;
}

.click-region__target-wrapper a {
  color: currentColor;
}
.click-region__target-wrapper a:after {
  height: 100%;
  width: 100%;
  content: "";
  left: 0;
  display: block;
  top: 0;
  position: absolute;
  z-index: 1;
}

a:focus, button:focus, input:focus {
  outline: 3px solid #1a73e8; 
  outline-offset: 2px;     
  border-radius: 4px;        
}
