.menu--social-media {
  display: flex;
}
.menu--social-media .menu__item:not(:last-child) {
  margin-right: 1.5rem;
}
.menu--social-media .menu__link {
  height: 1.2rem;
  width: 1.2rem;
  transition: transform 0.2s ease-in-out 0s;
  color: #000;
  display: block;
  text-decoration: none;
}
.menu--social-media .menu__link svg {
  fill: currentColor;
}
.menu--social-media .menu__link:hover {
  transform: scale(1.15);
}